<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="ShortUrlApp" packages="">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/ShortUrlApp.log"
                     filePattern="logs/$${date:yyyy-MM}/ShortUrlApp-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>